body {
    background: #3e6520;
}
.road {
    background-image: url("../assets/road.png");
    background-repeat: repeat-x;
    height: 200px;
    width:200%;
    padding: 5px;
}
h1{
    color: #cbe050;
}
.p1CarImages{
    background: #332b23;
    /* height: 200px;
    width: 300px;
    margin: auto;*/
    display: none; 
}
.p2CarImages{
    background: #332b23;
    /* height: 200px;
    width: 300px;
    margin: auto;*/
    display: none; 
}
.car{
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 120px;
    margin: 20px 13px;
}
.player1{
    margin-top: -190px;
}
.player2{
    margin-top: 30px;
}
.showCar{
    background-size: contain;
    height: 150px;
    width: 280px;
    position: fixed;
    top: 70px;
    margin: 26px 40%;
    font-size: larger;
    color: white;
    display: none;
    background-repeat: no-repeat;
}
.choice{
    border-radius: 50px;
    height: 60px;
    width: 250px;
    font-size: larger;
    position: relative;
    top: 130px;
}
.choice:hover{    
    border-radius: 50px;
    height: 60px;
    width: 250px;
    font-size: larger;
    position: relative;
    top: 130px;
    background: #1677cc96;
}
.carPromt{
    border-radius: 50px;
    height: 80px;
    width: 150px;
    font-size: larger;
    position: relative;
    top: -270px;
    left: 45%;
}
button:hover{
background: #1677cc96;
color: white;
}
button{
    height: 50px;
    font-size: larger;
}
.raceBtn{
    display: grid;
}
.race1{
    display: none;

}
.race2{
    display: none;
}
.dice{
    position: relative;
    background: #607D8B;
    height: 200px;
    width: 200px;
    display: none;
    margin: 20px auto;
    border: aliceblue 5px solid;
}
.show{
    display: block;
}
.roadStart{
    animation: 2s infinite slidein;
  }
  
@keyframes slidein {
    from {
        margin-right: -100%;
        width: 300%; 
    }

    to {
        margin-left: -100%;
    }
}



/* .player1{
    animation: 2s d0;
    margin-left: 100px;
}

@keyframes d0 {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 100px;
  }
} */